<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
     
    <!-- 별명 -->
    <typeAliases>
         <typeAlias alias="hashMap" type="java.util.HashMap" />
         <typeAlias alias="map" 	type="java.util.Map" />
         <typeAlias alias="hist" 	type="com.hana.gage.domain.HistoryVO" />
         <typeAlias alias="cate" 	type="com.hana.gage.domain.CategoryVO" />
         <typeAlias alias="budget" 	type="com.hana.gage.domain.BudgetVO" />
    </typeAliases>    
  
</configuration>